<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL dialect -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:2016/cinema?useTimezone=true&amp;serverTimezone=UTC
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<!-- <property name="hibernate.connection.password"> </property> -->
		
		<!-- <property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property> -->

		<!-- <property name="current_session_context_class">thread</property> <property 
			name="hibernate.enable_lazy_load_no_trans">true</property> -->

		<!-- <property name="hibernate.connection.CharSet">utf8</property> -->
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>

		<!-- <mapping resource="hbm/film.hbm.xml" /> <mapping resource="hbm/role.hbm.xml" 
			/> <mapping resource="hbm/user.hbm.xml" /> -->
		<mapping class="by.bsuir.cinema.domain.Film" />
		<mapping class="by.bsuir.cinema.domain.FilmSession" />
		<mapping class="by.bsuir.cinema.domain.Genre" />
		<mapping class="by.bsuir.cinema.domain.TicketsOrder" />
		<mapping class="by.bsuir.cinema.domain.Role" />
		<mapping class="by.bsuir.cinema.domain.Seat" />
		<mapping class="by.bsuir.cinema.domain.Ticket" />
		<mapping class="by.bsuir.cinema.domain.User" />

	</session-factory>
</hibernate-configuration>